/* frontend/src/styles/Navbar.css */

nav {
    background-color: #4caf50;
    padding: 10px;
    color: white;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-around;
  }
  
  .nav-container a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  
  .nav-container a:hover {
    text-decoration: underline;
  }
  